body{
background:url(http://www.painiu.com/images/themes/orange/bg.png) repeat-x #FFF; 
}

.skins-topbg
{    
width:1002px;
height:160px;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.painiu.com/images/themes/orange/top.png',sizingMethod='image');
background:url(http://www.painiu.com/images/themes/orange/top.png) no-repeat !important;
_background:none;
margin:10px auto 0px auto;
}